    .logo {
    height: 100px;
    width: 100px;
    background: url("https://imgur.com/fx9wNYU.png");
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    }
    .title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
    }
    label, input, button, select {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    }
    label {
    font-size: 30px;
    margin-bottom: 4px;
    }
    label:nth-of-type(2) {
    margin-top: 12px;
    }
    input::placeholder {
    font-size: 20px;
    color: gray;
    }
    input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }
    .inputs {
    text-align: left;
    margin-top: 80px;
    }
    .evaluate {
    border: none;
    color: white;
    background-color: #45a049;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    }
    .evaluate:hover {
    background-color: #155218;
    }
    div.container {
    border-radius: 25px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    }
    body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #ecf0f3;
    background-color: #a3cded;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    }
    h1 {
    color: black;
    font-family: verdana;
    font-size: 100%;
    }
    .reset {
    visibility: hidden;
    font-family: verdana;
    }

    button {
        width: 75%;
        margin-top: 30px;
    }

    /* STYLES FOR SELECT ELEMENTS */

    select {
        font-family: verdana;
        font-size: 14px;
    }

    .select {
        margin-top: 20px;
        margin-bottom: 40px;
        width: 100%;
    }

    /* STYLES FOR TABLE ELEMENT */

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }